.Rectangle {
    -fx-background-color: pink;
}


.button {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;

}

.gradient_animate {
    -gradient-base: gold;
    -gradient-bottom: #e3cc6c;
    -fx-text-fill: linear-gradient(to right, -gradient-base, -gradient-bottom);
}